master_ip="192.168.190.111"
workers_ips=("192.168.190.112" "192.168.190.113")
machines_ips=("192.168.190.111" "192.168.190.112" "192.168.190.113")

unix_user="wakeb"
password='Wakeb@!2080@$!'
unix_group="cluster"
extpass='123'

hadoop_cluster="/usr/local/hadoopcluster"
hadoop_comp="/usr/local/hadoopdownloads"
main_directory="/usr/local"
inventory_file_path="/usr/local/Big-Data-Platform/Infra/"
credentials_file_path="/usr/local/Big-Data-Platform/Infra/bash_files/"

influx_username="cofo"
influx_password='Cofo#413'
influx_org="cofo"
influx_bucket="cofo"
influx_config="wakeb"
influx_token="token"

airflow_username="cofo"
airflow_password='Cofo#413'
airflow_firstname="co"
airflow_lastname='fo'
airflow_role="admin"
airflow_email='cofo@gmail.com'

mysql_root_password="cofowakeb"
mysql_user="cofo"
mysql_user_password="cofowakeb"
mysql_hivedatabase="cofowakeb"
mysql_airflowdatabase="airflow_results"

github_repo_url="github.wakeb.tech/data/Big-Data-Platform.git"

master_node="master-node"
master_public="master-public"
private_slave_prefix="slave-node"
public_slave_prefix="worker-public"
